footer{
    padding: 10px 10px 0 10px;
    background-color:rgb(175, 219, 108);
    margin-bottom: 0px;
    margin-top: 20px;
}
.jumbotron{
    background-color: rgb(175, 219, 108);
    color: black;
}
.btn-reserva{
    width: 100%;
}
.card-hotel{
    flex: 1 150px;
    padding: 2px 5px 2px 5px;
    margin-top: 10px;
}

.footer-addres-icon{
    padding-right: 10px;
}

.img-fluid {
    max-width: 100%;
    height: auto;
    width: 100%;
}