$green:#145435;

@mixin margenes($top, $bottom){
    margin-top: $top;
    margin-bottom: $bottom;
}


footer{
    padding: 10px 10px 0 10px;
    background-color:$green;
    @include margenes(10px, 0px);
}
.jumbotron{
    background-color: $green;
    color: black;
    @include margenes(50px, 15px);
}
.btn-reserva{
    width: 100%;
}
.card-hotel{
    flex: 1 150px;
    padding: 2px 5px 2px 5px;
    @include margenes(10px, 0px);
}

.footer-addres-icon{
    padding-right: 10px;
}

.img-fluid {
    max-width: 100%;
    height: auto;
    width: 100%;
}