footer {
  padding: 10px 10px 0 10px;
  background-color: #145435;
  margin-top: 10px;
  margin-bottom: 0px; }

.jumbotron {
  background-color: #145435;
  color: black;
  margin-top: 50px;
  margin-bottom: 15px; }

.btn-reserva {
  width: 100%; }

.card-hotel {
  flex: 1 150px;
  padding: 2px 5px 2px 5px;
  margin-top: 10px;
  margin-bottom: 0px; }

.footer-addres-icon {
  padding-right: 10px; }

.img-fluid {
  max-width: 100%;
  height: auto;
  width: 100%; }
